/*============JUMBOTRON=============*/
.jumbotron {
  background-image: url('../images/jumbotron-bike.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
